{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "useBuiltIns": "usage",
          "corejs": 3
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@components": "./components/",
          "@layout": "./layout/",
          "@actions": "./actions/",
          "@actionTypes": "./actionTypes/",
          "@public": "./public/",
          "@store": "./store/",
          "@sagas": "./sagas/",
          "@reducers": "./reducers/",
          "@constants": "./constants/",
          "@utilities": "./utilities/",
          "@language": "language/en.json",
          "@themeTypes": "@types/styled.d.ts",
          "@settings": ".settings.ts",
          "@icons": ".icons.ts"
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false,
        "filename": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", { "modules": false } ],
        ["next/babel", { "preset-env": { "modules": "commonjs" }}]]
    }
  }
}