{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "useBuiltIns": "usage",
          "corejs": 3
        }
      }
    ]
  ],
  "plugins": [
    [
      "relay",
      {
        "artifactDirectory": "./schemas/__generated__"
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "@components": "./src/components/",
          "@layout": "./src/layout/",
          "@schemas": "./schemas/__generated__/",
          "@actions": "./src/actions/",
          "@actionTypes": "./src/actionTypes/",
          "@store": "./src/store/",
          "@sagas": "./src/sagas/",
          "@reducers": "./src/reducers/",
          "@constants": "./src/constants/",
          "@utilities": "./src/utilities/",
          "@themeTypes": "./src/@types/styled.d.ts",
          "@icons": "./src/.icons.ts"
        }
      }
    ],
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false,
        "filename": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", { "modules": false } ],
        ["next/babel", { "preset-env": { "modules": "commonjs" }}]]
    }
  }
}